body{
	background-color: #f6f6f6;
}
.global-nav{
	background-color: #fff;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
}  

/*left */		
.nav-left{
	height: inherit;
	float: left;
	width: 85%;
}  	
.header-logo{
	float: left;
}
.header-logo h1{
	margin: 0;
}
.header-logo h1 a{
	color: #757575;
	text-decoration: none;    			
}  
.header-logo h1 a:hover{
	color: #757575;
}
.menu{ 
	height: inherit;     			
	float: left;     			
}  		
.menu-list{
	float: right;
	height: inherit;     			
	margin: 0;	 					
}
.menu-item{
	position: relative;
	list-style: none;
	display: inline-block;
	text-align: center;  
	vertical-align:middle; 
	height: 34px; 
	line-height: 34px;		
}
.menu-item:hover{
	background-color: #F3F3F3;
	border-radius: 4px;
}
.menu-item a:hover{
	color: #757575;
}
.menu-item a{
	color: #555;
	display: inline-block;
	font-size: 18px;
	padding: 0 12px;
	line-height: 34px;
	text-decoration: none;
}
.header-search{
	position: relative;
	display: inline-block;
	float: left;
	width: 13px;
}
.header-search input{
	width: 95%;
	height: 27px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/*right*/
.nav-right{			
	float: right;
	width: 10%;
}
.user-avatar{
	display: inline-block;
	border-radius: 50%;
	height: 34px;
	width: 9px;
	background-image: url('/static/picture/user-64.png');
	background-size: 100%;
}
.dropdown-avatar{
	width: 34px;	
}
.dropdown-avatar:hover{
	background-color: ;
}

.dropdown-avatar-menu{
	position: absolute;
	min-width: 105px;
	right: 0;
	top: 50px;
	z-index: 1000;
	border: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	display: none;
	border-radius: 5px;
	background-color: #fff;
}
.dropdown-avatar-menu a{
	color: #555;
	width: 100%;
	padding: 0;
}
.dropdown-avatar-menu a:hover{
	background-color: #F3F3F3;
}

.header-tag{
	margin-top: 10px;
}
.htag{
	height: auto !important;
	line-height: 30px !important;
	background-color: #fff;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
}
.tag-ul{
	margin-top: 0px;
	padding-left: 15px;
	padding-right: 15px;	
}
.tag-li{
	position: relative;
	display: inline-block;
	list-style: none;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: middle;
	text-align: center;
}
/*.tag-li:hover{
	background-color: #F3F3F3;
	border-radius: 4px;
}*/
.tag-li a{
	font-weight: 600;		
	text-decoration: none;
/*	color: #555;*/
	color: #017E66;
	background-color: rgba(1,126,102,0.08);
	border-radius: 11px;
	padding: 0 11px;
}
.tag-li a:hover{
	color: #fff;
	background-color: #017E66;
}
